// nextflow.config

process.executor = 'google-batch'

profiles {

    standard {
        process.executor = 'local'
    }

    'google-batch' {
        // --- Nextflow-Level Configuration ---
        
        // CRUCIAL: Must be a Google Storage bucket (gs://) for the working directory
        workDir = 'gs://tes4-seqera-output-5336'
        
        // Set the executor to Google Cloud Batch
        process.executor = 'google-batch' 

        // Set the default container image for ALL processes
        process.container = 'theiagen/basespace_cli:1.2.1'
        process.containerOptions = "--env BASESPACE_ACCESS_TOKEN=${params.basespace_api_token} --env BASESPACE_API_SERVER=https://api.basespace.illumina.com"
        
        
        // --- Process Resource Defaults ---
        process {
            // Nextflow uses cpus/memory to find the cheapest machine type
            cpus = 1
            memory = '2.GB'
            time = '4h'
            
            // Default size of the boot disk (in GB)
            disk = '100.GB' 
        }

        // --- Google Cloud Specific Configuration ---
        google {
            // Your Google Cloud Project ID (NOT the project name)
            project = params.gcpProject
            
            // The region where the Batch jobs will run
            location = 'us-central1' 
            
            // Batch-specific settings
            batch {
                // Set to true to use cost-effective Spot VMs (up to 90% cheaper)
                spot = true
                
                // Recommended when using spot instances to auto-retry on preemption
                maxRetries = 1

                // Use this to specify a dedicated Service Account for the jobs
                serviceAccountEmail = params.serviceAccountEmail

                network = params.network
                subnetwork = params.subnetwork
                
                // Optionally define a custom machine type instead of cpus/memory
                // machineType = 'n2d-standard-8'
            }
        }
        
    }
}
